<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >


  <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target xsi:type="File"
            name="labcore"
            fileName="C:\Log_IISApps_WS_HUSI/LogsTrazabilidad/log_${shortdate}.txt"
            archiveFileName="C:\Log_IISApps_WS_HUSI/LogsTrazabilidad/archivos/${shortdate}.####.txt"
            archiveAboveSize="15728640"
            archiveNumbering="Sequence"
            enableFileDelete="false"
            concurrentWrites="true"
            maxArchiveFiles="2000"
            keepFileOpen="false"
            encoding="iso-8859-2" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="labcore" />
  </rules>
  <!--<targets>
    <target xsi:type="File"
            name="labcore"
            fileName="C:\Log_IISApps_WS_HUSI/LogsTrazabilidad/log_${shortdate}/${logger}.txt"
            archiveFileName="C:\Log_IISApps_WS_HUSI/LogsTrazabilidad/${shortdate}/${logger}.####.txt"
            archiveAboveSize="5242880"
            archiveNumbering="Sequence"
            enableFileDelete="false"
            concurrentWrites="true"
            maxArchiveFiles="2000"
            keepFileOpen="false"
            encoding="iso-8859-2" />

    <target xsi:type="File"
            name="labcoreOrd"
            fileName="C:\Log_IISApps_WS_HUSI/LogsTrazabilidad/Ordenes/log_${shortdate}.txt"
            archiveFileName="C:\Log_IISApps_WS_HUSI/LogsTrazabilidad/archivos/${shortdate}.####.txt"
            archiveAboveSize="5242880"
            archiveNumbering="Sequence"
            enableFileDelete="false"
            concurrentWrites="true"
            maxArchiveFiles="2000"
            keepFileOpen="false"
            encoding="iso-8859-2" />
    <target xsi:type="File"
        name="labcoreSol"
        fileName="C:\Log_IISApps_WS_HUSI/LogsTrazabilidad/Solicitudes/log_${shortdate}.txt"
        archiveFileName="C:\Log_IISApps_WS_HUSI/LogsTrazabilidad/Solicitudes/archivos/${shortdate}.####.txt"
        archiveAboveSize="5242880"
        archiveNumbering="Sequence"
        enableFileDelete="false"
        concurrentWrites="true"
        maxArchiveFiles="2000"
        keepFileOpen="false"
        encoding="iso-8859-2" />
    <target xsi:type="File"
            name="labcoreVta"
            fileName="C:\Log_IISApps_WS_HUSI/LogsTrazabilidad/Ventas/log_${shortdate}.txt"
            archiveFileName="C:\Log_IISApps_WS_HUSI/LogsTrazabilidad/Ventas/archivos/${shortdate}.####.txt"
            archiveAboveSize="5242880"
            archiveNumbering="Sequence"
            enableFileDelete="false"
            concurrentWrites="true"
            maxArchiveFiles="2000"
            keepFileOpen="false"
            encoding="iso-8859-2" />
    <target xsi:type="File"
            name="labcoreTMTA"
            fileName="C:\Log_IISApps_WS_HUSI/LogsTrazabilidad/TomaMTAS/log_${shortdate}.txt"
            archiveFileName="C:\Log_IISApps_WS_HUSI/LogsTrazabilidad/TomaMTAS/archivos/${shortdate}.####.txt"
            archiveAboveSize="5242880"
            archiveNumbering="Sequence"
            enableFileDelete="false"
            concurrentWrites="true"
            maxArchiveFiles="2000"
            keepFileOpen="false"
            encoding="iso-8859-2" />
    <target xsi:type="File"
            name="labcoreRes"
            fileName="C:\Log_IISApps_WS_HUSI/LogsTrazabilidad/Resultados/log_${shortdate}.txt"
            archiveFileName="C:\Log_IISApps_WS_HUSI/LogsTrazabilidad/Resultados/archivos/${shortdate}.####.txt"
            archiveAboveSize="5242880"
            archiveNumbering="Sequence"
            enableFileDelete="false"
            concurrentWrites="true"
            maxArchiveFiles="2000"
            keepFileOpen="false"
            encoding="iso-8859-2" />
  </targets>

  <rules>
    <logger name="logOrdenes" minlevel="Debug" writeTo="labcoreOrd" />
    <logger name="logSolicitudes" minlevel="Debug" writeTo="labcoreSol" />
    <logger name="logTomaMta" minlevel="Debug" writeTo="labcoreTMTA" />
    <logger name="logVenta" minlevel="Debug" writeTo="labcoreVta" />
    <logger name="logResultados" minlevel="Debug" writeTo="labcoreRes" />
    <logger name="logLabcore" minlevel="Debug" writeTo="labcore" />
  </rules>-->
</nlog>