<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <!--<connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="labcoreWS.Properties.Settings.DBConexionXX"
      connectionString="Data Source=TYCHO;Initial Catalog=HSI_PRI;User ID=interface;Password=interface;Min Pool Size=10;Max Pool Size=800;MultipleActiveResultSets=True;Connect Timeout=60;ConnectRetryCount=3"
      providerName="System.Data.SqlClient"/>
    <add name="labcoreWS.Properties.Settings.DBConexion"
      connectionString="Data Source=TYCHO;Initial Catalog=HSI_PRI;User ID=interface;Password=interface;Min Pool Size=10;Max Pool Size=800;MultipleActiveResultSets=True;Connect Timeout=60;ConnectRetryCount=3"
      providerName="System.Data.SqlClient"/>
    <add name="labcoreWS.Properties.Settings.LabcoreDBConXX"
      connectionString="Data Source=TYCHO;Initial Catalog=HSI_PRI;User ID=interface;Password=interface;Min Pool Size=10;Max Pool Size=800;MultipleActiveResultSets=True;Connect Timeout=60;ConnectRetryCount=3"
      providerName="System.Data.SqlClient"/>
    <add name="labcoreWS.Properties.Settings.LabcoreDBCon"
      connectionString="Data Source=TYCHO;Initial Catalog=HSI_PRI;User ID=interface;Password=interface;Min Pool Size=10;Max Pool Size=800;MultipleActiveResultSets=True;Connect Timeout=60;ConnectRetryCount=3"
      providerName="System.Data.SqlClient"/>
    <add name="labcoreWS.Properties.Settings.dbProduccion"
      connectionString="Data Source=TYCHO;Initial Catalog=HSI_PRI;User ID=interface;Password=interface;Min Pool Size=10;Max Pool Size=800;MultipleActiveResultSets=True;Connect Timeout=60;ConnectRetryCount=3"
      providerName="System.Data.SqlClient"/>
    <add name="labcoreWS.Properties.Settings.alterno"
      connectionString="Data Source=TYCHO;Initial Catalog=HSI_PRI;User ID=interface;Password=interface;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>-->

  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="labcoreWS.Properties.Settings.DBConexionXX" connectionString="Data Source=WINTVTIBD01;Initial Catalog=SAHI;User ID=husi_usr;Password=pwdHUSI;Min Pool Size=10;Max Pool Size=800;MultipleActiveResultSets=True;Connect Timeout=60;ConnectRetryCount=3"
      providerName="System.Data.SqlClient" />
    <add name="labcoreWS.Properties.Settings.DBConexion" connectionString="Data Source=WINTVTIBD01;Initial Catalog=SAHI;User ID=husi_usr;Password=pwdHUSI;Min Pool Size=10;Max Pool Size=800;MultipleActiveResultSets=True;Connect Timeout=60;ConnectRetryCount=3"
      providerName="System.Data.SqlClient" />
    <add name="labcoreWS.Properties.Settings.LabcoreDBConXX" connectionString="Data Source=WINTVTIBD01;Initial Catalog=SAHI;User ID=husi_usr;Password=pwdHUSI;Min Pool Size=10;Max Pool Size=800;MultipleActiveResultSets=True;Connect Timeout=60;ConnectRetryCount=3"
      providerName="System.Data.SqlClient" />
    <add name="labcoreWS.Properties.Settings.LabcoreDBCon" connectionString="Data Source=WINTVTIBD01;Initial Catalog=SAHI;User ID=husi_usr;Password=pwdHUSI;Min Pool Size=10;Max Pool Size=800;MultipleActiveResultSets=True;Connect Timeout=60;ConnectRetryCount=3"
      providerName="System.Data.SqlClient" />
    <add name="labcoreWS.Properties.Settings.dbProduccion" connectionString="Data Source=WINTVTIBD01;Initial Catalog=SAHI;User ID=husi_usr;Password=pwdHUSI;Min Pool Size=10;Max Pool Size=800;MultipleActiveResultSets=True;Connect Timeout=60;ConnectRetryCount=3"
      providerName="System.Data.SqlClient" />
    <add name="labcoreWS.Properties.Settings.alterno" connectionString="Data Source=WINTVTIBD01;Initial Catalog=SAHI;User ID=husi_usr;Password=pwdHUSI;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings/>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true"/>
      <endToEndTracing propagateActivity="true" activityTracing="true" messageFlowTracing="true"/>
    </diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding name="IWSSolicitudesbinding" maxBufferPoolSize="214000000"
          maxReceivedMessageSize="214000000" />
        <binding name="BasicHttpBinding_IordenarEstudio" />
        <binding name="SmsSendSoapPortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="SmsSendSoapPortBinding1" />
        <binding name="IWSSolicitudesbinding1" />
        <binding name="BasicHttpBinding_IdatosPaciente" />
        <binding name="smsHUSISoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="smsHUSISoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://apismsi.aldeamo.com/sms/SmsSendSoap"
        binding="basicHttpBinding" bindingConfiguration="SmsSendSoapPortBinding"
        contract="WSAldea.ISmsSendSoap" name="SmsSendSoapPort" />
      <endpoint address="http://10.10.100.6:81/wsdl_pruebas/WSDLL.dll/soap/IWSSolicitudes"
        binding="basicHttpBinding" bindingConfiguration="IWSSolicitudesbinding"
        contract="srLabcoreResultados.IWSSolicitudes" name="IWSSolicitudesPort" />
      <endpoint address="http://10.10.100.6:81/wsdl_pruebas/WSDLL.dll/soap/IWSSolicitudes"
        binding="basicHttpBinding" bindingConfiguration="IWSSolicitudesbinding1"
        contract="srLabcoreTAT.IWSSolicitudes" name="IWSSolicitudesPort1" />
      <endpoint address="http://wintvtiws01:8111/ordenarEstudio.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IordenarEstudio"
        contract="srProxyOrdenar.IordenarEstudio" name="BasicHttpBinding_IordenarEstudio" />
    </client>
    <!--<client>
      <endpoint address="http://winpvtiws01:8111/ordenarEstudio.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IordenarEstudio"
        contract="srProxyOrdenar.IordenarEstudio" name="BasicHttpBinding_IordenarEstudio"/>
      <endpoint address="http://10.8.10.50:81/wsdl/wsdll.dll/soap/IWSSolicitudes" binding="basicHttpBinding" bindingConfiguration="IWSSolicitudesbinding"
        contract="srLabcoreResultados.IWSSolicitudes" name="IWSSolicitudesPort"/>
      <endpoint address="http://10.8.10.50:81/wsdl/wsdll.dll/soap/IWSSolicitudes" binding="basicHttpBinding" bindingConfiguration="IWSSolicitudesbinding1"
        contract="srLabcoreTAT.IWSSolicitudes" name="IWSSolicitudesPort1"/>
      <endpoint address="http://winpvtiws01:14100/datosPaciente.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IdatosPaciente"
        contract="clienteDatosPcte.IdatosPaciente" name="BasicHttpBinding_IdatosPaciente"/>
      <endpoint address="http://winpvtiws01:8090/smsHUSI.asmx" binding="basicHttpBinding" bindingConfiguration="smsHUSISoap" contract="clienteSMS.smsHUSISoap"
        name="smsHUSISoap"/>
      <endpoint address="http://winpvtiws01:8090/smsHUSI.asmx" binding="customBinding" bindingConfiguration="smsHUSISoap12" contract="clienteSMS.smsHUSISoap"
        name="smsHUSISoap12"/>
      <endpoint address="https://apismsi.aldeamo.com/sms/SmsSendSoap" binding="basicHttpBinding" bindingConfiguration="SmsSendSoapPortBinding"
        contract="WSAldea.ISmsSendSoap" name="SmsSendSoapPort"/>
    </client>-->
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <!--<system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>-->

</configuration>